{% extends "base.html" %}
{% block content %}<body>

    <form action="" method="post" id="frm" >
        {% csrf_token %}

    <h3>supervisor table</h3>
    <table id="example" class="table table-striped table-dark" style="width:100%" margin="20%" >

    <thead>
    <tr>

        <th scope="col"> name</th>
        <th scope="col"> update</th>
        <th scope="col"> delete</th>
        <th scope="col">ass supervisor</th>

    </tr>
    </thead>
    <tbody>
        <tr>
        {% for object in object_list %}
        <th>{{ object.name }}</th>

        <th>
        <a href="{% url 'updatesupervisor' object.id %}"><button type="button" class="btn btn-primary" >
            update </button> </a>
        </th>


         <th>
        <a href="{% url 'deletesupervisor' object.id %}"><button type="button" class="btn btn-primary" >
            delete </button> </a>
        </th>

         <th>
        <a href="{% url 'asupervisorlist' object.id %}"><button type="button" class="btn btn-primary" >
            assistant supervisor </button> </a>
        </th>


        </tr>
   </tbody>
     {% endfor %}
    </table>

    <a href="{% url 'register' %}"><button type="button" class="btn btn-success" >
       add supervisor </button> </a>

   <input type=button value="Previous Page" class="btn btn-warning" onClick="javascript:history.go(-1);">


</form>
</body>

{%endblock content%}
 {% block js_content %}

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>
  {% endblock js_content %}