{% extends "base.html" %}
{% block content %}

   <h2>you login as manager :{{ user.username }}</h2>


    <h3>name:{{ object.name }}</h3>

    <br/>

   <a href="{% url 'updatemanager' object.id %}"> <button  class="btn btn-primary" id="submit">
        profile</button></a>


    <a href="{% url 'updateuser' object.id %}"> <button type="button" class="btn btn-primary" id="button">
        User profile</button></a>

    <br/>
    <br/>

        <a href="{% url 'supervisorlist' object.id %}"><button type="button" class="btn btn-primary">
        supervisor</button></a>


        <a href="{% url 'shoplist' object.id %}"> <button type="button"class="btn btn-primary">
        Shop</button></a>


        <a href="{% url 'shopdetaillist' object.id %}"><button type="button" class="btn btn-primary">
        Shop Details</button></a>



        <a href="{% url 'cleanergroup'%}"><button type="button" class="btn btn-primary">
        cleaner group</button></a>


        <a href="{% url 'cleanningrecord'%}"><button type="button" class="btn btn-primary">
        cleanning record</button></a>


        <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">
        logout</button></a>


    <br/>

{% endblock content %}