{% extends "base.html" %}
{% block content %}
<body>
     <form action="" method="post" id="frm" >
        {% csrf_token %}

         <h3>Ass_supervisor list : </h3>
         <br/>

         <table id="example" class="table table-striped table-dark" style="width:100%">

          <thead>
            <tr>

            <th scope="col">name</th>
            <th scope="col">update</th>
            <th scope="col">delete</th>
            <th scope="col">shop</th>
            <th scope="col">shop details</th>
            <th scope="col">cleaner</th>

            </tr>
          </thead>
          <tbody>
          <tr>



        {% for object in object_list %}

        <th>{{ object.name }}</th>

             <th> <a href="{% url 'updateasupervisor' object.id %}"><button type="button" class="btn btn-primary" >
            update</button></a></th>

            <th><a href="{% url 'deleteasupervisor' object.id %}"><button type="button" class="btn btn-danger" >
            delete</button></a></th>

              <th><a href="{% url 'shoplist' object.id %}"><button type="button" class="btn btn-primary" >
            shop</button></a></th>

             <th> <a href="{% url 'shopdetaillist' object.id %}"><button type="button" class="btn btn-primary" >
            shop details</button></a></th>


             <th> <a href="{% url 'cleanerlist' object.id %}"><button type="button" class="btn btn-primary" >
            cleaner</button></a></th>


          </tr>
       </tbody>
     {% endfor %}
    </table>


       <a href="{% url 'asupervisor' %}"><button type="button" class="btn btn-success" >
        add assistance supervisor</button></a>

 <input type=button value="Previous Page" class="btn btn-warning" onClick="javascript:history.go(-1);">


 </form>
</body>

{%endblock content%}

{% block js_content %}

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

    {% endblock js_content %}
